<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>medUPA</title>
</head>
<body>
    <header>
        <div class="header">
            <h1><a href="/" class="animate__flash">medUPA</a></h1>
        </div>
    </header>
    <section class="mainLista">
       
        <div class="relatorio-pedido">
            <table id="tabela">
            <tr>
                
                <th>
                    Nome:
                </th>
                <th>
                    Fabricante:
                </th>
                <th>
                    Tipo:
                </th>
                <th>
                    Lote:
                </th>
                <th>
                    DT de fabricação:
                </th>
                <th>
                    DT de validade:
                </th>
                <th>
                    Quantidade:
                </th>
                <th>
                    Ações: 
                </th>
            </tr>
            <% medicamentos.forEach(medicamento => { %>
            <tr>
                
                <td><%=medicamento.nome%></td>
                <td><%=medicamento.fabricante%></td>
                <td><%=medicamento.tipo%></td>
                <td><%=medicamento.lote%></td>
                <td><%= new Date(medicamento.DTfabricacao).toLocaleDateString()%></td>
                <td><%= new Date(medicamento.DTvalidade).toLocaleDateString()%></td> 
                
                <% if (medicamento.quantidade <= '0') { %>
                    <form action="/apagarMedicamento" method="post" onsubmit="confirmarDelete(event,this)">
                        
                        <input id="deletar" type="hidden" name="id" value="<%=medicamento.id%>">
                        <input type="hidden" name="quantidade" value="<%=medicamento.quantidade%>"><td><p>Estoque Vazio</p><button id="delMed">Deletar Medicamento</button></td></form>
                    <%} else { %>
                    <td><%=medicamento.quantidade%></td>
                    <% } %>
                
                
                
                <td>  

                    <!-- <a href="/addmed/<%=medicamento.id%>"><i class="fa-solid fa-circle-plus adicionar"></i></a>   -->
                    <form action="/apagarMedicamento" method="post">
                        <input id="deletar" type="hidden" name="id" value="<%=medicamento.id%>">
                        <input type="hidden" name="quantidade" value="<%=medicamento.quantidade%>">
                        <div>
                            <% if (medicamento.quantidade <= '0') { %>
                                <i class="fa-solid fa-circle-exclamation danger"></i>
                        </div>
                        
                       
                        <%} else { %>
                            <button id ="delete"><i class="fa-solid fa-circle-xmark apagar"></i></button>
                            <% } %> 
                    </form>
                </td>
                    
               
                
            </tr>
           
            <% }) %>
            </table>
            <a href="/addmed" id="links"> Adicionar Medicamento </a>
            <a href="/attEstoque" id="links"> Atualizar Estoque </a>
            <a href="/saidaPed" id="links"> Saída de pedidos </a>
            
        </div>
       
    </section>
    <footer>
        <div class="rodape">
            <img src="../img/pngwing.com.png">
        </div>
    </footer>   
    
</body>
</html>
<script>
          
        function confirmarDelete(event, form){
        event.preventDefault();
      
        var decisao = confirm('Você quer remover esse medicamento?')
        if (decisao){
             form.submit()
            
        }
        else{
            console.log('NAO PORRA')
        }
    }
    
   
</script>
     
    


    
